thesis_project/
__pycache__
test_runs_git_commands.txt
dummy
train_data.json
test_data.json
saved_model*
Inference_output
wandb
chat_template_test
Funda_scrappper
classified_data
Data_Analysis
final_train_data
funda_data
funda_images